<li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl }}/categorias.html">Categorias</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl }}/assuntos.html">Assuntos</a>
</li>

<li class="nav-item">
	<a target="_blank" href="https://github.com/tatudoquei/tatudoquei.github.io" class="nav-link text-dark"><i class="fab fa-github"></i></a>
</li>
<li class="nav-item">
	<a target="_blank" href="https://twitter.com/tatudoquei" class="nav-link text-dark"><i class="fab fa-twitter"></i></a>
</li>
