<!-- Don't edit anything here, tags are dynamically generated -->

<nav class="navbar navbar-expand-lg navbar-light bg-white pl-2 pr-2">
    <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExplore" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExplore">
    <ul class="navbar-nav categories">
    {% assign tags_list = site.tags %}
        {% for tag in tags_list %}
          <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/assuntos.html#{{ tag[0] | downcase }}">{{ tag[0] }} ({{ tag[1].size }})</a></li>
        {% endfor %}
    {% assign tags_list = nil %}
    </ul>    
    </div>
</nav>
